<%= form_for wiki do |f| %>
  <% if wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(wiki.errors[:title]) do %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter a name for your Wiki" %>
  <% end %>

  <%= form_group_tag(wiki.errors[:body]) do %>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', placeholder: "Enter Wiki content" %>
  <% end %>

  <%# Only premium users and admins can change a wiki's privacy state %>
  <% if (current_user && current_user.can_create_private_wikis?) || current_user.admin? %>
    <%= form_group_tag(wiki.errors[:private]) do %>
      <%= f.check_box :private %> Private
    <% end %>
  <% end %>

  <%= f.submit button_title, class: 'btn btn-success' %>

<% end %>