<%= content_tag :div, class: 'media', id:"wiki-#{wiki.id}" do %>
  <div class="media-body">
    <h1>
      <%= @wiki.title %> <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>

      <% if policy(@wiki).destroy? %>
        <%= link_to "Delete", [@wiki], class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </h1>

    <small><%= @wiki.user.name %></small>
    <small style="color: red;"><%= "private" if @wiki.private %></small>
    <hr />
    <p><%= markdown_to_html(@wiki.body) %></p>
  </div>
<% end %>
